html,
    body,
    #map-canvas {
        /* border:solid 1px; */
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        position: absolute;
        /* right: -10px; */
        top: 30px;
    }
    .rain{
        /* border:solid 1px; */
        height: 100vh;
        background: url(rain.png);
        background-color: rgba(105,105,105,0.4);
        animation: rain .3s linear infinite;
        z-index: 5;
        position: relative;
    }
    /* .rain:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background:#fff;
        animation: lighting .3s linear infinite;
        opacity: 0;
    } */
    .sunny{
        position: relative;
        width: 40%;
        height: 40%;
        /* background:rgba(255,228,56,0.7); */
        background: url(sun.png) 0px no-repeat;
        background-size: 50%;
        z-index: 5;
    }
    .cloudy{
        position: relative;
        height: 100vh;
        background: url(cloud.png);
        background-repeat: repeat-y;
        background-size: 60%;
        opacity: 1;
        background-color: rgba(105,105,105,0.3);
        animation: cloud 20s linear infinite;
        z-index: 5;
    }
    @keyframes rain{
        0%{
            background-position: 0% 0%;
        }
        100%{
            background-position: 100% 100%;
        }
    }
    @keyframes cloud{
        0%{
            background-position: -50% 0%;
        }
        100%{
            background-position: 200% 0%;
        }
    }